# IDE
.idea/

# Java build
target/

# Node
node_modules/

# Logs
*.log

# Environment
.env

# Docker / Database volumes
volume-data/
**/volume-data/
*.sock

# Keys and certificates
*.pem
*.key
*.crt

# MySQL data
mysql_data/
data/

# MongoDB
WiredTiger
WiredTiger.lock
WiredTiger.turtle
WiredTiger.wt
WiredTigerHS.wt
.mongodb/